
.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
.inter-specific {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  /* common styles */

  .primary-btn{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 15px 36px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .primary-btn:hover{
    background-color: #f65252;
    color: #FFFFFF;
    transform: scale(1.05);
  }
.section-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
body{
    background-color: rgba(245, 248, 255, 1);
}

  /* header styles */
  header{
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 150px;
    width: 100%;
  }
  .header-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    padding: 25px 0px;
  }
  .logo{
    font-size: 34px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4E47FF;
  }
  .logo-highlight{
    color: #f65252;
  }

  .header-content{
    max-width: 905px;
    margin: 160px auto 0px;
    text-align: center;
    padding: 0 20px;
  }
  .header-content h2{
    font-size: 65px;
    font-weight: bold;
  }

  /* main styles */
  main{
    max-width: 1140px;
    margin: 0 auto;
  }
  
  main section{
    margin-top: 116px;
    margin-bottom: 116px;
  }

  /* live-preview styles */
  .live-preview{
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
  }
  .live-preview-content{
    width: 517px;
  }
  .live-preview-content h3{
    margin-bottom: 23px;
  }
  .live-preview-content p{
    font-size: 24px;
    font-weight: normal;
    color: rgba(37, 36, 50, 0.5);
    margin-top: 0px;
  }
  .live-preview-image{
    width: 403px;
    border-radius: 48px;
  }

  /* showcase styles */
  .showcase{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    text-align: center;
    padding: 50px 142px;
  }
  .showcase h3{
    font-size: 38px;
    font-weight: bold;
    margin: 0 auto 40px;
  }
  .showcase-stats{
    display: flex;
    justify-content: space-between;
  }
  .stat-items h4{
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(78, 71, 255, 1);
    margin: 0 auto;
  }
  .stat-items p{
    font-size: 20px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
  }

    /* feedback styles */

  .user-feedbacks{
    width: 100%;
    text-align: center;
  }
  .feedbacks{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: stretch;
  }
  .feedback-cards{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(242, 237, 237, 1);
    border-radius: 14px;
  }
/* part one */
  .card-content{
    text-align: left;
    padding: 30px;
  }
  .card-content h4{
    font-size: 25px;
    margin: 24px auto 0px;
  }
  .card-content p{
    font-size: 16px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.7);
    margin: 10px auto 0px;
  }
/* part two */
.user-info{
    display: flex;
    gap: 12px;
    padding: 30px;
    align-items: center;
    text-align: left;
    font-family: "Inter", sans-serif;
}
.user-info img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user-info h5{
    font-size: 15px;
    color: rgba(117, 117, 117, 1);
    margin: 0px;
}
.user-info p{
    font-size: 15px;
    color: rgba(179, 179, 179, 1);
    margin: 0px;
}

/* offer section style */

.offer-section{
  background-color: #FFFFFF;
  border-radius: 14px;
  text-align: center;
  width: 100%;
}
.offer-section h3{
  font-size: 50px;
  font-weight: bold;
  padding-top: 50px;
  margin: 0 auto;
}
.offer-section p{
  font-size: 16px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
  margin: 20px auto;
}
.offer-section img{
  width: 840px;
  max-width: 100%;
  height: auto;
  margin: 20px auto 70px;
  border-radius: 48px;
}
/* contact form style */
.contact-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 80px;
  }
.form-header h2{
    font-size: 97px;
    font-weight: bold;
    line-height: 1.2;
    color: rgba(0, 0, 0, 1);
}
.form-info {
    flex: 1;
    min-width: 500px;
}
.form-info label {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin-top: 20px;
    margin-bottom: 6px;
}
section input[type="email"], section input[type="text"], section textarea {
    width: 100%;
    padding: 25px 25px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: normal;
    color: #252432;
    border: 1px solid rgba(214, 221, 237, 1);
    border-radius: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
section textarea {
    height: 140px;
    resize: none;
}
.form-btn {
    width: 100%;
    height: 60px;
    background-color: #4e47ff;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.form-btn:hover {
    background-color: #f65252;
    transform: scale(1.05);
}
/* footer styles */
footer{
    text-align: center;
    background-color: #FFFFFF;
    padding: 50px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.footer-content{
    max-width: 531px;
    margin: 0 auto;
}
.footer-logo{
    font-size: 100px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4E47FF;
    margin-bottom: 10px;
}
footer p{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: rgba(137, 135, 161, 1);
    margin-top: 0px;
    margin-bottom: 20px;
}
 .quick-links ul{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .quick-links ul li{
    list-style: none;
    margin-right: 45px;
 }
 .quick-links ul li a{
    display: inline-block;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    color: rgba(137, 135, 161, 1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
 }
 .quick-links ul li a:hover{
    font-weight: bold;
    color: #f65252;
    transform: scale(1.05);
 }
  